.App {
  padding: 10px;

}

.App__mods-panel {
  display: flex;
  justify-content: space-around;
}

.App__field {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  background: #ccc;
  margin-top: 20px;
}

.App__row {
  display: flex;
  align-items: flex-start;
}

@media (max-width:767px) {
  .App__mods-panel > * {
    margin: 5px
  }
}
